@import "base/variables";
@import "base/mapas";
@import "base/mixin";
@import "base/_extend";


/*reset*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

/*color de fondo */ /* configuraciones del body*/

body{
    background-image: linear-gradient(to top, $color-principal, #f7f6e4);
}

/* configuraciones del header */
header{
    @extend %flex-centro;
    background-color: white;
    border-bottom: 1px black solid;
    flex-wrap: wrap;


    /*Configuracion de la imagen de inicio*/
    #imagen-menu{
        margin: 0;
        padding: 0;
        @extend %flex-centro;
       height: 100%;
       width: 100%;


    }
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        overflow-y: visible;
        top: 1rem; 
        /* configuracion del menu */
        li{ 
            background-color: $color-principal;
            height: 4rem;
            border-radius: 50%;
            width: 4rem;
            list-style: none;
            font-size: 0.6rem;
            margin: 1rem;
   @extend %flex-centro;
            a{
                font-family: map-get($map: $base, $key: font-fam);
                color: map-get($map: $base, $key:color-letra-base );
            }
        }
        
        
                
            
            
        
    }
}

/*footer*/

body footer{

   flex-direction: column;

   margin-top: 1rem;
    @extend %flex-centro;
   div{
       display: flex;
       width: 100%;
       height: 10rem;
       
       iframe{
           display: flex;
           width: 100%;
           height: 10rem;
       }
       p {
           text-align: center;
           font-family: map-get($map: $base, $key: font-fam);
           color: map-get($map: $base, $key: color-letra-base );
       }
   }
}




.desaparece{
    display: none;
}




/*Index*/
.list-group-item{
   font-size: 40px;
    a{
    color: map-get($map: $base, $key: color-letra-base);
    font-family: map-get($map: $base, $key: font-fam);
   }
   
}


/*Contacto*/
body{
    main{
        h1{
            font-family: map-get($map: $base, $key: font-fam);
            color: map-get($map: $base, $key: color-letra-base);
        }
    }
}


/*Catalogo*/

.imagenes{
    @extend %grid-centro;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    ;
    gap: 1rem;  /*espacio entre columnas*/
    grid-auto-rows: 22rem;

}


div img{
    @include medidas-mult(15rem,15rem);
    
  transition: all .2s ease-in-out;
}
div img:hover{
    transform: scale(1.2);
  }

  .img-titu:hover{
    transform: none;
  }


/* videos */

div iframe{
@include medidas-mult(15rem,15rem);
transition: all .2s ease-in-out;
}


/*informacion*/
.informacion1{
    @extend %grid-centro;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr 0.6fr;
    grid-template-areas: "foto"
                         "titulo"
                         "parrafo";


    margin-top: 1rem;
    width: 95%;
}

.imagen-info{
   grid-area: foto;

}
.titulo-info{
    grid-area: titulo;

    font-family: map-get($map: $base, $key: font-fam);
    color: map-get($map: $base, $key: color-letra-base);
    font-size: 3rem;
  
    
}
.parrafo-info{
   grid-area: parrafo;
   font-family: map-get($map: $base, $key: font-fam);
   color: map-get($map: $base, $key: color-letra-base);
}
.elemento-lista{
    display: inline-block;
    margin: 0.5rem;
    font-family: map-get($map: $base, $key: font-fam);
    color: map-get($map: $base, $key: color-letra-base);
}
.lista-redes{
margin: 2rem;
}




/*media queries*/

@media screen and (min-width:700px)
{


    body header{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-row: 1fr;
        grid-column: 1fr 1fr;
        grid-template-areas: "foto menu"; 

        justify-content: stretch;
        .imagen-menu{
            display: flex;
           height: 7rem;
           grid-area: foto;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            overflow-y: visible;
            width: 100%;
            grid-area: menu;
            li{ 
                padding: 0.9rem;
                list-style: none;
                font-size: 0.9rem;
                margin: 3%;
                height: 5rem;
                width: 5rem;
            }
        }
    }



    /* informacion */


    .informacion1{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 0.5fr 0.5fr 
        ;
        grid-template-rows: 0.5fr 1fr ;
        grid-template-areas: "foto titulo"
                             "parrafo parrafo";
        margin-top: 1rem;
        width: 95%;
     
        
        
        
    }
    .imagen-info{
        grid-area: foto;
     }
     .titulo-info{
         grid-area: titulo;
         align-self: end;
         justify-self: start;
         
       
         
     }
     .parrafo-info{
        grid-area: parrafo;
        text-align: center;
     }

     /*footer*/

        body footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
           
            div{
                
                display: flex;
                height: 10rem;
                iframe{
                    display: flex;
                    height: 10rem;
                    p {
                        text-align: center;
                    }
                }
            }
        }
        .desaparece{
            display: block;
        }
        
                
            
         
         
         
    }
         




